.navbar-container {
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
}

.input-box {
  border: none;
  background-color: #f6f7f8;
  font-size: 12px;
  outline: none;
  @media (max-width: 425px) {
    width: 80px;
  }
}

.input {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #edeff1;
  width: 400px;
  padding-left: 5px;
  background-color: #f6f7f8;
  border-radius: 30px;
  height: 40px;
  @media (max-width: 425px) {
    width: 125px;
  }
}

.input:hover {
  border: 1px solid #0279d3;
}

.glass-icon {
  color: #757575;
  font-size: 30px;
  padding-bottom: 5px;
  @media (max-width: 425px) {
    font-size: 20px;
  }
}

.link {
  text-decoration: none;
  color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.home-icon {
  font-size: 30px;
}
.home-text {
  @media (max-width: 425px) {
    display: none;
  }
}

.login {
  background-color: #d93b01;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.login:hover {
  background-color: brown;
}

.already-login {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  @media (max-width: 425px) {
    gap: 5px;
    font-size: 12px;
  }
}

.logout {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 13px;
  @media (max-width: 425px) {
    font-size: 12px;
  }
}

.add-post {
  font-size: 30px;
  line-height: 0;
  display: flex;
  align-items: center;
  @media (max-width: 425px) {
    font-size: 25px;
    margin: 0 5px;
  }
}

.add-post:hover {
  background-color: #edeff1;
  border-radius: 3px;
}

.icon-text {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 10px;
  @media (max-width: 425px) {
    display: none;
  }
}
