body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dae0e6;
}

.home-container {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* .p {
  color: #1c1c1c;
} */

.post-container {
  display: flex;
  /* gap: 10px; */
  border: 1px solid #cccccc;
  border-radius: 5px;
  /* padding: 10px; */
  width: 50vw;
  background-color: #ffffff;
  color: #1c1c1c;
}

.post-container:hover {
  border: 1px solid #838587;
}

.subreddit {
  font-weight: 600;
  font-size: 10px;
}

.title {
  font-size: 16px;
  margin: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.text {
  font-size: 13px;
}

.input-box {
  border: none;
  background-color: #f6f7f8;
  font-size: 12px;
  outline: none;
}

.input {
  display: flex;
  align-items: center;
  gap: 3px;
  border: 1px solid #edeff1;
  width: 400px;
  padding-left: 5px;
  background-color: #f6f7f8;
  border-radius: 30px;
  height: 40px;
}

.input:hover {
  border: 1px solid #0279d3;
}

.glass-icon {
  color: #757575;
  font-size: 30px;
  padding-bottom: 5px;
}

.link {
  text-decoration: none;
  color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.home-icon {
  font-size: 30px;
}

.navbar-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 0;
}

.login {
  background-color: #d93b01;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
}

.login:hover {
  background-color: brown;
}

.already-login {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.logout {
  text-decoration: none;
  color: #1c1c1c;
  font-size: 13px;
}

.vote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 0 10px;
  background-color: #f8f9fa;
  border-radius: 5px 0 0 5px;
}

.number-vote {
  font-size: 12px;
  font-weight: 600;
}

.arrow-icon {
  font-size: 24px;
  color: #888a8c;
}

.post-content {
  padding: 10px;
}

.comment {
  font-size: 10px;
  font-weight: 600;
}

.comment-container {
  color: #888a8c;
  display: flex;
  gap: 5px;
  align-items: center;
}

.comment-icon {
  font-size: 20px;
}
